cleint/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="banquews">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:2211/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversion_euro_to_dh">
<part name="parameters" element="tns:conversion_euro_to_dh"/>
</message>
<message name="conversion_euro_to_dhResponse">
<part name="parameters" element="tns:conversion_euro_to_dhResponse"/>
</message>
<message name="getcompte">
<part name="parameters" element="tns:getcompte"/>
</message>
<message name="getcompteResponse">
<part name="parameters" element="tns:getcompteResponse"/>
</message>
<message name="getcomptes">
<part name="parameters" element="tns:getcomptes"/>
</message>
<message name="getcomptesResponse">
<part name="parameters" element="tns:getcomptesResponse"/>
</message>
<portType name="banque_service">
<operation name="conversion_euro_to_dh">
<input wsam:Action="http://ws/banque_service/conversion_euro_to_dhRequest" message="tns:conversion_euro_to_dh"/>
<output wsam:Action="http://ws/banque_service/conversion_euro_to_dhResponse" message="tns:conversion_euro_to_dhResponse"/>
</operation>
<operation name="getcompte">
<input wsam:Action="http://ws/banque_service/getcompteRequest" message="tns:getcompte"/>
<output wsam:Action="http://ws/banque_service/getcompteResponse" message="tns:getcompteResponse"/>
</operation>
<operation name="getcomptes">
<input wsam:Action="http://ws/banque_service/getcomptesRequest" message="tns:getcomptes"/>
<output wsam:Action="http://ws/banque_service/getcomptesResponse" message="tns:getcomptesResponse"/>
</operation>
</portType>
<binding name="banque_servicePortBinding" type="tns:banque_service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversion_euro_to_dh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getcomptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="banquews">
<port name="banque_servicePort" binding="tns:banque_servicePortBinding">
<soap:address location="http://localhost:2211/"/>
</port>
</service>
</definitions>